
    <div class="body">

      <main class="main">
        <div class="main-body">
          <section>
          <form>
            <input type="text" placeholder="search...">
            <button type="submit">search</button>
          </form>
          <div id="mp-container">

          <% @mps.each do |mp| %>
          <div class="mp-index">
            <a class="mp-hover" href="mp/<%=mp.id%>">
              <div class="image-crop">
                <img src = "<%=mp.photo%>"/>
              </div>
            </a>
            <% if mp.party == "Liberal" %>
            <div class="mp-index-tag lib">
              <span><%=mp.name%></span>
              <span><%=mp.riding_id%></span>
            </div> 
            <% elsif mp.party == "Conservative" %>
            <div class="mp-index-tag con">
              <span><%=mp.name%></span>
              <span><%=mp.riding_id%></span>
            </div> 
            <% elsif mp.party == "NDP" %>
            <div class="mp-index-tag ndp">
              <span><%=mp.name%></span>
              <span><%=mp.riding_id%></span>
            </div> 
            <% elsif mp.party == "Bloc Québécois" %>
            <div class="mp-index-tag bloc">
              <span><%=mp.name%></span>
              <span><%=mp.riding_id%></span>
            </div> 
            <% elsif mp.party == "Green Party" %>
            <div class="mp-index-tag green">
              <span><%=mp.name%></span>
              <span><%=mp.riding_id%></span>
            </div> 
            <% end %>
          </div>
          <% end %>
          

          </div>


          </section>
        </div>
       </main>
    </div>    













<!-- 
<div class="row">
  <div class="col-sm-2"></div>
    <div class="col-sm-8">
    <div class="body">

      <main class="main">
        <div class="main-body">
          <section>
          <div class="row break">            
          </div>
          <div class="row">
            <form class="form-horizontal">
              <div class="form-group">
                <div class="col-xs-6 col-md-6">
                  <input type="email" class="form-control" id="inputEmail3" placeholder="Enter search term">
                </div>
                <div class="col-xs-2 col-md-6">
                  <button type="submit" class="btn btn-default">SEARCH</button>
                </div>              
              </div>

            </form>
          </div>

          <div class="row break">

          </section>
        </div>
       </main>
    </div>    
    </div>
  <div class="col-sm-2"></div>
</div>
 -->